*{
    padding: 0;
    margin: 0;
}
h1, p{
    margin-bottom: 20px;
}
main{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
.content{
    width: 60%;
    background: #f0f0f0;
    padding: 2%;
    
}
aside{
    width: 30%;
}
.side_block{
    background: #f0f0f0;
    padding: 5%;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px){
    .content{
        width: 100%;
    }
    aside{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .side_block{
        width: 44%;
        padding: 2%;
    }
}

@media screen and (max-width: 480px){
    .side_block{
        width: 96%;
        padding: 4%;
    }
}