.header_main{
    border: 2px solid #fd8f00;
    width: 70%;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_main nav{
    background: #fd8f00; 
    padding: 15px 0;
    padding-left: 20px;
}

.header_main nav a{
    color: #fff;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 16px;   
    transition: .2s;
}

.header_main nav a:hover{
    background: #fff;
    color: #fd8f00;
}



.header_main h1{
    text-align: center;
    color: #6e3f00;
}

.header_main h2{
    color: #6e3f00;
    text-align: center;
}

.header_main p{
    color: #996219;
    line-height: 30px;
    text-indent: 30px;
}

.main footer{
    margin-top: 20px;
    gap: 30px;
    display: flex;
}

.main footer a{
    text-decoration: none;
    color: #6e3f00;

}

a{
    text-decoration: none;
}
