*{
	padding:0; margin:0;
}
p, h1{
	margin:0 0 30px 0;
}
.content{
	max-width:900px; margin:0 auto; padding:0 30px;
}

img{
	max-width: 100%;
}

.bridge-night{
	display: block;
	margin: 0 auto 30px auto;
	max-width: 100%;
	min-width: 200px;
}
.bridge-day{
	float: left;
	margin-right: 30px;
	max-width: 40%;
}

@media (max-width: 480px){
	.bridge-day{
		max-width: 100%;
	}
}