.box{
    background: #2db34a;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition: background 1s linear;
    width: 95px;
}

.box:hover{
    background: #ff7b29;
}
